matplotlib~=3.8.2
numpy~=1.26.2
pip~=23.3.2
pathlib~=1.0.1
Pillow~=9.5.0
Jinja2~=3.1.2
bs4~=0.0.1
beautifulsoup4~=4.12.2
nltk~=3.8.1
ttkbootstrap~=1.10.1
pandas~=2.1.4
spacy~=3.7.2
pygtrie~=2.5.0
nltk~=3.8.1